<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bojan Pavlovic | FakeBook</title>
    <link type="text/css" rel="stylesheet" href="style.css">
</head>
    <body>
        
        <h1 class="blue_highlight"><i>FAKEBOOK</i></h1>
        <p>Iskalnik: <input type="text" placeholder="Isci po imenu" ></p>
        <h2 class="blue_highlight">BOJAN PAVLOVIĆ</h2>
        <a href="https://en.wikipedia.org/wiki/Homer_Simpson">
        <img src="https://pbs.twimg.com/profile_images/609439993094770690/MqfzEbtj.jpg" alt="Homer Simpson" height="200" width="200" class="slika" >
        </a>
        <br>
        <br>
        <button>Dodaj za prijatelja</button>
        <br>
        <p><strong>Kraj:</strong>Ljubljana <a href="https://en.wikipedia.org/wiki/Ljubljana"><img src="https://upload.wikimedia.org/wikipedia/sl/thumb/8/85/Grb_MOL.svg/100px-Grb_MOL.svg.png" alt="Ljubljana" height="40" width="30" class="slika"> </a></p>
        <p ><strong>Starost:</strong> 29+1</p>
        <p ><strong>Izobrazba:</strong> Gradbeni inženir</p>
        <p ><strong>Hobi:</strong> Programiranje</p>
        <p><strong>Število FakeBook prijateljev:</strong> 10</p>
        <p><strong>Število izdelanih HTML projektov:</strong> 1(zdaj)</p>

        <p class="blue_highlight">Copyright by BojPav</p>
    </body>
</html>